# BUSINESS UNDERSTANDING

We at K-Means Kapital ltd have been tasked with a dataset from a leading telecommunications provider who is undergoing some challenges and would wish to us to conduct an analysis from their customer data.

The challenge that Syriatel is facing s that they are losing customers and ultimately impacting their revenues. 

What we shall do for this data is to conduct an analysis on the usage trends and ultimately help predict potentially exiting customers that way they may be able to have a better picture of their busness health going forward.

# PROBLEM STATEMENT

With the provided variables(though only the necessary ones shall be picked), 

('state','account length','area code','phone number','international plan','voice mail plan','number vmail messages','total day minutes','total day calls','total day charge','total eve minutes','total eve calls','total eve charge','total night minutes','total night calls','total night charge','total intl minutes','total intl calls','total intl charge','customer service calls','churn')

We aim to conduct an anlaysis provide a model to help them reduce churn and retain clientelle

# OBJECTIVES

#### 1.
Build a regression model to;

1. predict churn rate
2. determine the most influential variables
3. improve predictive accuracy

#### 2.
Build a classification model to predict the churn rate

In [6]:
#import pandas to load the dataset
import pandas as pd

In [10]:
df = pd.read_csv('syriatel.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

# DATA UNDERSTANDING

# DATA CLEANING

### Correct Formats

### Handling NAs

### Handling Duplicates

### Other Cleaning Steps

### Feature Engineering

# EXPLORATORY DATA ANALYSIS (EDA)

### Univariate Analysis

### Bi-Variate Analysis

### Multi-variate Analysis

# PRE-PROCESSING

### Encoding

### Scaling

# MODELING

### Regression

# CLASSIFICATION

### Logistic Regression

### Random Forest Classifier

### Decision Tree Classifier

# HYPER_PARAMETER TUNING

# MODEL EVALUATION

# CONCLUSION & RECCOMENDATION